vendor/
data*/
profile/
bin/
blockbook
notes.txt
debug*
.vscode
docker/blockbook
build/pkg-defs
bin/blockbook
build/blockchaincfg.json
build/ldb
build/sst_dump
build/*.deb
.bin-image
.deb-image
\.idea/
